
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 33% 11%;
    --foreground: 210 40% 98%;

    --card: 256 10% 14%;
    --card-foreground: 210 40% 98%;

    --popover: 240 33% 11%;
    --popover-foreground: 210 40% 98%;

    --primary: 255 83% 73%;
    --primary-foreground: 210 40% 98%;

    --secondary: 260 33% 54%;
    --secondary-foreground: 210 40% 98%;

    --muted: 240 15% 20%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 260 33% 54%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 240 15% 20%;
    --input: 240 15% 20%;
    --ring: 255 83% 73%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-veegox-darker-bg text-foreground;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-veegox-gradient;
  }
}
